body{
    background-color: #F2D335;
}
.tittlech{
    margin-top: 50px;
}
#challenge{
 margin-top: 20px;
}
#btnvolver{
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

#btnagain{
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

.results{
    justify-content: center;
    margin-top: 50px !important;
    height: 500px;
    width: Auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: #f1f1f1;
    overflow-y: scroll;
    margin: 10px;
}

